



<article class="container_fluid" id="wrapper_diensten"> 
        <div class="row wrapper_inner_blog ">


            <div class="col-lg-1 col-lg-offset-1 col-md-1 hidden-sm hidden-xs bg_<%=@articles.last.tag%> normal_blog">
            
            </div>

            <div class="col-lg-6  col-md-7 col-sm-12 col-xs-12 normal_blog">
            <figure>
                <%= link_to image_tag(@articles.last.image.url(:medium)), article_path(@articles.last)%>
            </figure>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <h6 class="blog_tag">#<%= @articles.last.tag %></h6>
                    <h2 class="blog_titel"><%= link_to @articles.last.title, article_path(@articles.last), class: "black"%></h2>
                    <hr>
                    <% if user_signed_in? %>
                    <p><%= link_to 'Destroy', article_path(@articles.last), method: :delete, data: { confirm: 'Are you sure?' }, class: "black" %>
                    <%= link_to 'Edit', edit_article_path(@articles.last), class: "black" %></p><% end %>
                   
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><br><br><br><br>
                    <%= social_share_button_tag(@articles.last.title, :popup => "true") %><br>

                    <p class="blog_preview"><%= @articles.last.created_at.strftime("%d %b. %Y") %> - <%= @articles.last.consumeTime %> min read</p><br>
                    <p><%=@articles.last.content %>
                    <br><br>
                    <%= link_to 'Lees Meer', article_path(@articles.last), class: "lees_meer"%>
                    </p>


                </div>

            </div>      

 
            <div class="col-lg-3 col-lg-offset-8 col-md-4 col-md-offset-8 col-sm-12 col-xs-12 fixed_blog">
                <div class="subscribe_container bgb">
                    <h1 class="white alignright">Subscribe voor Exclusieve content.</h1>
                    <div class="white subform_wrapper"><%=render('sub_form')%><br></div>
                </div>
                    <ul class="social_links">
                        <li class="sm_list"><button class="sm_button_bw"><%= link_to image_tag("icon_bw_tw.png"), 'https://www.twitter.com' %></button></li>
                        <li class="sm_list"><button class="sm_button_bw"><%= link_to image_tag("icon_bw_ig.png"), 'https://www.instagram.com' %></button></li>
                        <li class="sm_list"><button class="sm_button_bw"><%= link_to image_tag("icon_bw_fb.png"), 'https://www.facebook.com' %></button></li>
                        <li class="sm_list"><button class="sm_button_bw"><%= link_to image_tag("icon_bw_yt.png"), 'https://www.youtube.com' %></button></li>
                    </ul>

                <div class="must_read_container">
                    <h2 class="alignright">Must Read!</h2>
                    <figure></figure>
                    <h3 class="black">Test Titel</h3>
                    <hr>
                    <p>Dit artikel gaat over blablabla</p>  
                    <%= link_to 'Lees Meer', article_path(@articles.last), class: "lees_meer"%>


                </div>

            </div>
        </div>


</article>

<br><br><br><br><br><br><br><br>